* {
    background-color: rgb(255, 253, 253);
    box-sizing: border-box;
  }
  
  body {
      /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw)*/
      height: 100vh;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  
  header {
      font-size: 3vmin;
      color: darkslategrey;
  }
  
  /* h2 {
      color: darkgray;
      height: 5vmin;
  }
  
  #column-markers {
      display: grid;
      grid-template-columns: repeat(7, 10vmin);
      gap: 0.5vmin;
      margin-top: 1.5vmin;
  }
  
  #column-markers > div {
      height: 10vmin;
      border-width: 5vmin;
      border-style: solid;
      border-color: lightgrey transparent transparent;
      transform: scale(0.7)
  }
  
  #column-markers > div:hover {
      transform: scale(0.9);
      transition: transform 150ms ease-in;
      border-top-color: darkslategray;
  } */
  
  #board-container {
    display: grid;
    grid-template-columns: repeat(15, 5vmin);
    grid-template-rows: repeat(15, 5vmin);
    /* gap: 1vmin; */
    margin-top: -0.5vmin;
  }
   
  #board-container > div {
    background: rgb(248, 235, 218);
    border: 0.1vmin solid rgb(165, 165, 165);
  }

  /* #cell-00{
    background: black;
  } */

  #board-container div:hover {
    background: rgb(255, 255, 255);
  }

  
  
  button {
      margin-top: 4vmin;
      padding: 2vmin;
      font-size: 2vmin;
      border-radius: 4vmin;
      border: 0.1vmin solid grey;
      color: grey;
  }
  
  button:hover {
      color: rgb(228, 228, 228);
      background-color: darkslategray;
  }