* {
  /* background-color: rgb(255, 253, 253); */
  /* box-sizing: border-box; */
  border: 0.1vmin dashed grey;
  }

header {
  height: 8vmin;
  max-height: 60px;
}

h1 {
  display:inline;
  max-height: 50px;
  font-size: clamp(30px, 6vmin, 50px);
  font-weight: bolder;
  color: rgb(139, 22, 22);
}
  
body {
  /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw)*/
  width: 100vmin;
  max-width: 700px;
  /* max-height: 500px; */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  font-size: clamp(15px, 5vmin, 25px);
  /* font-weight: bolder; */
  /* color: rgb(139, 22, 22); */
}


#scoreboard {
  /* background-color: aqua; */
  width: 90%;
  max-height: 200px;
}

#scoreboard-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 3vmin;
  /* margin-top: -3vmin; */
}

#player-scores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -20px;
  font-size: 4vmin;
}

#turn-indicator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-size: clamp(20px, 3vmin, 25px);
  /* margin-top: -3vmin; */
  margin-bottom: 4vmin;
}

.turn-indicator  {
  /* display: flex; */
  /* justify-content: flex-end; */
  width: 0;
  height: 0;
  border-left: 3vmin solid transparent;
  border-right: 3vmin solid transparent;
  border-bottom: 3vmin solid transparent;
  /* border-width: 5px; */
}

.active-turn-indicator {
  border-bottom: 3vmin solid rgb(139, 22, 22);
}

/* #board-container {
  justify-self: center;
  width: 90vw;
  margin: 10px 10px;
} */

#grid-container {
  /* position: absolute; */
  /* max-height: 500px; */
  display: grid;
  grid-template-columns: repeat(15, minmax(10px, 40px));
  grid-template-rows: repeat(15, minmax(10px, 40px));
  margin: 0px 25px 0px 25px;
}
  
.board-cell {
  font-size: clamp(15px, 3vmin, 20px);
  font-weight: bolder;
  background: rgb(248, 235, 218);
  border: 0.1vmin solid rgb(165, 165, 165);
}

[id='7_7'] {
  background:rgb(202, 150, 150) !important;
}

.board-cell-with-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(46, 46, 46) !important;
  color:#f7f7f7;
}

.board-cell-with-placed-letter {
  background:rgb(66, 7, 7) !important;
}

#board-container div:hover {
  background: rgb(255, 255, 255);
}

#letter-tray {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a3a3a3;
  
  width: 80vmin;
  max-width: 500px; 
  height: 10vmin; 
  max-height: 80px;
  margin: 3vmin 0vmin;
}

#letter-tray > div {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: clamp(15px, 3vmin, 20px);
  font-weight: bolder;
  background:rgb(46, 46, 46);
  color:#f7f7f7;
  
  width: 6vmin;
  max-width: 60px;
  height: 6vmin;
  max-height: 60px;
}

#message-container {
  display: inline;
  /* max-height: 50px; */
  width: 70%;
  font-size: clamp(10px, 4vmin, 20px);
  color: rgb(151, 6, 6);
  font-weight: bolder;
  margin-bottom: 15px;
}

#buttons-container {
  width: 90%;
  max-width: 600px;
  height: 50px; 
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

button {
  max-height: 50px; 
  margin-top: 0; /* Remove margin-top */
  margin-bottom: auto; /* Automatically push the buttons to the top */
  padding: 10px; Set padding for buttons
  font-size: clamp(12px, 2vmin, 18px); /* Fix the font size function syntax */
  border-radius: 4px; /* Set border-radius */
  border: 1px solid grey; /* Add a border to buttons */
  color: rgb(46, 46, 46); /* Set button text color */
}

#complete-letter-exchange-button {
  color: rgb(228, 228, 228);
  background-color: darkslategray;
}

button:hover {
  color: rgb(228, 228, 228);
  background-color: darkslategray;
}

#letters-left-indicator {
  width: 60%;
  font-size: clamp(15px, 3vmin, 20px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#instructions {
  text-align: left;
  font-size: 15px;
  max-width: 80%;
}

.hidden{
  visibility: hidden;
}